.scale {
    width: 500px;
    height: 300px;
    background-color: royalblue;
    position: absolute;
    top: 30%;
    left: 30%;
    -webkit-transform: scale(2, 4);
    -moz-transform: scale(2, 4);
    -ms-transform: scale(2, 4);
    -o-transform: scale(2, 4);
    transform: scale(2, 4);
}